body {
    font-family: verdana,arial,sans-serif;
    font-size: 12px;
}
table {
    border-radius: 5px;
    border: 2px solid #cdcdcd;
}
td {
    border: 1px solid #cdcdcd;
    padding: 5px;
}
td.post-title {
    width: 400px;
}

div#post-preview {
    width: 780px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
}

a, a:visited, a:hover, a:active {
  color: #1B8EE0;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
